{% extends "layouts/base.html" %}

{% block title %} Project 5{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        <!-- Title -->
        <section class="section-header bg-secondary text-white" style="height: 400px;">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 text-center">
                    <div class="mb-4">
                        <a href="#" class="badge bg-success text-uppercase me-2 px-3">Cloud</a>
                        <a href="#" class="badge bg-success text-uppercase px-3">Infrastructure as Service</a>
                    </div>
                    <h1 class="display-3 mb-4 px-lg-5">Create server and deploy application on DigitalOcean</h1>
                    <div class="post-meta">
                        <span class="fw-bold me-3">Flávia Santos</span>
                        <span class="post-date me-3">1 April, 2023</span>
                    </div>
                </div>
               </div>
            </div>

        </section>
        <!-- End of Title section -->

        <!-- Section blog-->
        <div class="section bg-white pt-5 pt-lg-6 text-black">
                <article class="container">
                    <!--Text-->
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-8">
                                    <p>This project showcases the concept of <a href="https://en.wikipedia.org/wiki/Infrastructure_as_a_service">Infrastructure as a Service (IaaS)</a>.
                                    I will show to deploy a Java application in a single cloud virtual server, using the platform DigitalOcean.</p>
                                    <h4>Technologies used:</h4>
                                    <ul>
                                        <li>DigitalOcean, Linux, Java, Gradle</li>
                                    </ul>
                                    <h4>Setup and configure a server on DigitalOcean</h4>
                                    <p>It is very easy to create a droplet ( server on DigitalOcean). We are prompt with several options:

                                    <ol>
                                    <li>Choose region</li>
                                        <p>I selected the datacenter closest to me (Frankfurt).
                                        <p>
                                            <img class="rounded" src="static/assets/img/blog/choose-region.jpg" alt="Region">
                                        </p>
                                    <li>Choose an image and size</li>
                                        <p>I selected Ubuntu as the Linux distributions, we can choose Ubuntu.
                                        And the basic plan offers us the necessary resources on the virtual machine.</p>
                                        <p>
                                            <img class="rounded" src="static/assets/img/blog/choose-image.jpg" alt="Image">
                                        </p>
                                    <li>Choose authentication method</li>
                                        <p>I selected <a href="https://en.wikipedia.org/wiki/Secure_Shell">SSH</a> key to connect
                                                to the entire DigitalOcean platform.</p>
                                        <p>SSH key pairs ( Private Key + Public Key) are basically encrypted values of random hashes created by the client
                                        machine to connect and configure the remote server.</p>
                                        <p>
                                            <img class="rounded" src="static/assets/img/blog/choose-auth.jpg" alt="Auth">
                                        </p>
                                        <ul>
                                            <li>Private Key: should be securely stored in the client machine.</li>
                                            <li>Public Key: can be shared with the droplet to indicate that the client machine for that public key is safe to connect to.</li>
                                        </ul>
                                        <p>
                                        Firewall configures the specific port where the server is accessible and this port is
                                            always open to an application. After that the communication is allowed and the
                                            SSH authentication will occur.</p>
                                        <p>To generate an SSH Key Pair on your computer using the cryptography algorithm RSA,
                                            you can simply run the following command in your terminal:</p>
                                                <!--<p><img class="rounded" src="static/assets/img/blog/terminal-ssh.jpg" alt="Step 1"></p>-->
                                    <div class="language-bash codeBlockContainer_Ckt0 theme-code-block" >
                                        <div class="codeBlockContent_biex">
                                                <code class="codeBlockLines_e6Vv">
                                                    <span class="token-line" style="color: rgb(57, 58, 52);">
                                                        <span class="token plain">$ ssh-keygen -t rsa</span>
                                                    <!--<span class="token function" style="color: rgb(215, 58, 73);">git</span> -->
                                                    <!--<span class="token plain"> </span> -->
                                                    </span>
                                                </code>
                                        </div>
                                    </div>
                                    <p><br>The private key (id_rsa) and the public key (id_rsa.pub) will be available in the .ssh file by default.
                                        Then it can be copied from your terminal by running the command below and pasted in the droplet window.</p>
                                                                        <div class="language-bash codeBlockContainer_Ckt0 theme-code-block" >
                                        <div class="codeBlockContent_biex">
                                                <code class="codeBlockLines_e6Vv">
                                                    <span class="token-line" style="color: rgb(57, 58, 52);">
                                                        <span class="token plain">$ cat ~/.ssh/id_rsa.pub</span>
                                                    </span>
                                                </code>
                                        </div>
                                    </div>
                                    <br>
                                    <img class="rounded" src="static/assets/img/blog/terminal-ssh.jpg" alt="SSH">
                                    <p><br>The rest of the configuration can be as it is.</p>
                                    </ol>



                                        </p>
                                    <h4>Create and configure a new Linux user on the Droplet (Security best practice)</h4>
                                    <h4>Deploy and run a Java Gradle application on Droplet</h4>
                                    <p></p>
                                     <p></p>
                                </div>
                            </div>
                    <!--Share-->
                            <div class="row justify-content-sm-center align-items-center py-3 mt-3">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-9 col-md-6">
                                            <h6 class="fw-bolder d-inline mb-0 me-3">Share:</h6>
                                            <button class="btn me-2 btn-icon-only btn-pill bg-blue btn-linkedin d-inline" aria-label="linkedin social link"><span class="fab fa-linkedin fa-2x"></span></button>
                                            <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-twitter d-inline text-white" aria-label="twitter social link"><span class="fab fa-twitter"></span></button>
                                            <button class="btn btn-sm btn-icon-only btn-pill bg-orange d-inline text-white" aria-label="reddit social link"><span class="fab fa-reddit-alien"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
        </div>
        <!-- End of blog section -->


    </main>

    {% include 'includes/footer-about.html' %}





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
