{% extends "layouts/base.html" %}

{% block title %} Project 5{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        <!-- Title -->
        <section class="section-header bg-secondary text-white" style="height: 400px;">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 text-center">
                    <div class="mb-4">
                        <a href="#" class="badge bg-success text-uppercase me-2 px-3">Docker</a>
                        <a href="#" class="badge bg-success text-uppercase px-3">Containers</a>
                    </div>
                    <h1 class="display-3 mb-4 px-lg-5">Use Docker for local development</h1>
                    <div class="post-meta">
                        <span class="fw-bold me-3">Flávia Santos</span>
                        <span class="post-date me-3">10 April, 2023</span>
                    </div>
                </div>
               </div>
            </div>

        </section>
        <!-- End of Title section -->

        <!-- Section project-->
        <div class="section bg-white pt-5 pt-lg-6 text-black">
                <article class="container">
                    <!--Text-->
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-8">
                                    <p>This project showcases how to work with Docker containers when developing applications.
                                    By using a very simple UI app using JavaScript and Node.js in the backend. In order to integrate
                                    this in the database, we will use Docker container of a MondoDB database. To make it easy
                                        we will also deploy a container og a MongoBD UI (Mongo Express), where we can see the database
                                    structure and the updates that our app is doing in the database.</p>
                                    <h4>Technologies used:</h4>
                                    <ul>
                                        <li>Docker, Node.js, MongoDB, MongoExpress</li>
                                    </ul>
                                    <h4>Setup locally the application manually</h4>
                                    <p>1. Pull docker images for the database:<br>
                                        <code>$    docker pull mongo</code><br>
                                        <code>$    docker pull mongo-express</code>
                                    <br>
                                        <br>
                                        2. Set up a docker network for the MongoDB and MongoExpress:<br>
                                        <code>$   docker network create mongo-network </code><br><br>
                                        <img class="rounded" src="static/assets/img/project7_1/mongo-network.png" alt="mongo-network"><br>
                                        <br>
                                        3. Overwrite the username and password variables and run mongo containers. <br>
                                        <code>$ docker run -d -p 27017:27017 -e MONGO_INITDB_ROOT_USERNAME=admin -e MONGO_INITDB_ROOT_PASSWORD=password --name mongodb --net mongo-network mongo</code><br>
                                        <br><code>$ docker run -d -p 8081:8081 -e ME_CONFIG_MONGODB_ADMINUSERNAME=admin -e ME_CONFIG_MONGODB_ADMINPASSWORD=password --net mongo-network --name mongo-express -e ME_CONFIG_MONGODB_SERVER=mongodb mongo-express</code>
                                        <br>
                                        <br>4. Then access the mongo UI and create a "user-account" database and a "users" collection.<br>
                                        <img class="rounded" src="static/assets/img/project7_1/mongo-user.png" alt="mongo-user"><br>
                                        <img class="rounded" src="static/assets/img/project7_1/users-collection.png" alt="users-collection"><br><br>
                                        We can now use the app UI to update the profile and see the input in the database:
                                        <br><img class="rounded" src="static/assets/img/project7_1/update.png" alt="update">
                                        <br>


                                    </p>
                                    <h4>Create Dockerfile for Nodejs application and build Docker image</h4>
                                    <p></p>


                                    <h4>Run Nodejs application in Docker container and connect to MongoDB database container locally</h4>
                                    <h4>Also run MongoExpress container as a UI of the MongoDB database.</h4>

----------------------------------------------------


                            </div>
                            </div>
                        </article>
        </div>
        <!-- End of project5 section -->


    </main>

    {% include 'includes/footer-about.html' %}





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
