{% extends "layouts/base.html" %}

{% block title %} Project 5{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        <!-- Title -->
        <section class="section-header bg-secondary text-white" style="height: 400px;">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 text-center">
                    <div class="mb-4">
                        <a href="#" class="badge bg-success text-uppercase me-2 px-3">Docker</a>
                        <a href="#" class="badge bg-success text-uppercase px-3">Containers</a>
                    </div>
                    <h1 class="display-3 mb-4 px-lg-5">Use Docker for local development</h1>
                    <div class="post-meta">
                        <span class="fw-bold me-3">Flávia Santos</span>
                        <span class="post-date me-3">10 April, 2023</span>
                    </div>
                </div>
               </div>
            </div>

        </section>
        <!-- End of Title section -->

        <!-- Section project-->
        <div class="section bg-white pt-5 pt-lg-6 text-black">
                <article class="container">
                    <!--Text-->
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-8">
                                    <p>This project showcases how to work with Docker containers when developing applications.
                                    By using a very simple UI app using JavaScript and Node.js in the backend. In order to integrate
                                    this in the database, we will use Docker container of a MondoDB database. To make it easy
                                        we will also deploy a container og a MongoBD UI (Mongo Express), where we can see the database
                                    structure and the updates that our app is doing in the database.</p>
                                    <h4>Technologies used:</h4>
                                    <ul>
                                        <li>Docker, Node.js, MongoDB, MongoExpress</li>
                                    </ul>
                                    <h4>Setup the application locally</h4>
                                    <p>1. Pull docker images for the database:<br>
                                        <code>$    docker pull mongo</code><br>
                                        <code>$    docker pull mongo-express</code>
                                    <br>
                                        <br>
                                        2. Set up a docker network for the MongoDB and MongoExpress:<br>
                                        <code>$   docker network create mongo-network </code><br><br>
                                        <img class="rounded" src="static/assets/img/project7_1/mongo-network.png" alt="mongo-network"><br>
                                        <br>
                                        3. Overwrite the username and password variables and run mongo containers. <br>
                                        <code>$ docker run -d -p 27017:27017 -e MONGO_INITDB_ROOT_USERNAME=admin -e MONGO_INITDB_ROOT_PASSWORD=password --name mongodb --net mongo-network mongo</code><br>
                                        <br><code>$ docker run -d -p 8081:8081 -e ME_CONFIG_MONGODB_ADMINUSERNAME=admin -e ME_CONFIG_MONGODB_ADMINPASSWORD=password --net mongo-network --name mongo-express -e ME_CONFIG_MONGODB_SERVER=mongodb mongo-express</code>
                                        <br>
                                        <br>4. Then access the mongo UI and create a "user-account" database and a "users" collection.<br>
                                        <img class="rounded" src="static/assets/img/project7_1/mongo-user.png" alt="mongo-user"><br>
                                        <img class="rounded" src="static/assets/img/project7_1/users-collection.png" alt="users-collection"><br><br>
                                        We can now update the profile and see the input in the database:
                                        <br><img class="rounded" src="static/assets/img/project7_1/update.png" alt="update">
                                        <br>


                                    </p>
                                    <h4>Create Dockerfile for Nodejs application and build Docker image</h4>
                                    <p></p>


                                    <h4>Run Nodejs application in Docker container and connect to MongoDB database container locally</h4>
                                    <h4>Also run MongoExpress container as a UI of the MongoDB database.</h4>

----------------------------------------------------
                                    <p>To install and configure Nexus on a DigitalOcean Droplet, we followed the official
                                        Nexus installation guide. We created a new Droplet with Ubuntu, logged in to
                                        the Droplet via SSH, following the similar approach as the project
                                        <a hef="project_5_create_server_deploy_digitalocean.html">"Create server and deploy application on DigitalOcean"</a>
                                        , but the droplet had more memory resource.
                                        Then we installed Java 8, downloaded and install Nexus and created "nexus" user and group
                                        (best practice: run applications with own user). We ran the following commands:</p>
                                        <div class="codeBlockContent_biex">
                                            <code class="codeBlockLines_e6Vv">
                                                <span class="token-line" style="color: rgb(57, 58, 52);">
                                                    <span class="token plain">$ apt update<br>
                                                        $ apt install openjdk-8-jre-headless<br>
                                                        $ apt install net-tools<br>
                                                        <br>
                                                        $ cd /opt<br>
                                                        $ wget https://download.sonatype.com/nexus/3/latest-unix.tar.gz<br>
                                                        $ tar -zxvf latest-unix.tar.gz<br>
                                            </code>
                                        </div>

                                    <h4>Create new User on Nexus with relevant permissions</h4>
                                    <p>After creating a nexus user, we need to change the permissions for it, so it can run the binaries in the Nexus directory
                                    and also make changes to the configurations on the Sonatype directory.</p>

                                        <div class="codeBlockContent_biex">
                                            <code class="codeBlockLines_e6Vv">
                                                <span class="token-line" style="color: rgb(57, 58, 52);">
                                                    <span class="token plain">
                                                        $ adduser nexus<br>
                                                        $ chown -R nexus:nexus nexus-3.51.0-01/<br>
                                                        $ chown -R nexus:nexus sonatype-work/<br>
                                                </span></span>
                                            </code>
                                        </div>
                                    <p><img class="rounded" src="static/assets/img/project6/nexus-permission.png" alt="Nexus Permission"></p>

                                    <p>Next, in the <code>nexus.rc</code> file, we added the following line <code>run_as_user="nexus"</code>. Then
                                        we switched to nexus user to run the application. </p>
                                        <div class="codeBlockContent_biex">
                                            <code class="codeBlockLines_e6Vv">
                                                <span class="token-line" style="color: rgb(57, 58, 52);">
                                                    <span class="token plain">
                                                        $ vim nexus-3.51.0-01/bin/nexus.rc<br><br>
                                                        run_as_user="nexus"<br><br>
                                                        $ su - nexus<br>
                                                        $ /opt/nexus-3.51.0-01/bin/nexus start
                                                </span></span>
                                            </code>
                                        </div>

                                    <p>We can also check if nexus is running and in which port it is listening at with the commands bellow.
                                    Then we can add a inbound firewall rule opening that port in order to access Nexus UI from a browser.</p>
                                    <div class="codeBlockContent_biex">
                                            <code class="codeBlockLines_e6Vv">
                                                <span class="token-line" style="color: rgb(57, 58, 52);">
                                                    <span class="token plain">
                                                        $ ps aux | grep nexus<br>
                                                        $ netstat -lnpt
                                                </span></span>
                                            </code>
                                        </div>
                                    <p><img class="rounded" src="static/assets/img/project6/nexus-firewall.png" alt="Nexus Firewall"></p>

                                    <h4>Java Gradle Project: Build Jar & Upload to Nexus</h4>
                                    <p>We will upload a jar file from a Java Gradle project to existing hosted repository on
                                        Nexus. We need to configure the Gradle tool by giving it credentials on Nexus in order to use the special command
                                        for pushing the file into the remote repository. We also need to create Nexus user with permissions
                                        to upload artifact files in certain repositories.</p>
                                    <ol>
                                        <li>Create Manually a Local Nexus User</li>
                                        <p>Create a local user by going to Security->Users on Nexus UI and give it an anonymous role from now.
                                        We will create a new role for this user on Security->Roles and limit the permissions for it (best practice).
                                            This is going to be a role to upload a jar file and retrieve information about it, we can choose a
                                            ´nx-repository-view-maven2-maven-snapshots-*´ type of privilege. Then we assign this role to the user created:</p>
                                       <div class="alert alert-info" role="alert">Usually you would not create manually a new user on Nexus, but instead you use integrate existing users
                                            from your company system by using LDAP integration and then give it Nexus permission.</div>
                                        <p><img class="rounded" src="static/assets/img/project6/nx-role.png" alt="Nexus Role"></p>
                                        <p><img class="rounded" src="static/assets/img/project6/flavia-user.png" alt="Nexus User"></p>

                                    <li>Configure with Nexus</li>

                                      <p>Added the following code to the <code>build.gradle</code> file:</p>
                                            <br>
                                        <div class="codeBlockContent_biex">

<code class="codeBlockLines_e6Vv">
    <span class="token-line" style="color: rgb(57, 58, 52);">
        <span class="token plain">
            <pre>
            plugins {
                id 'maven-publish'
            }

            group 'com.example'
            version '1.0-SNAPSHOT'

            publishing {
                publications {
                    maven(MavenPublication){
                        artifact("build/libs/my-app-$version"+".jar") {
                            extension 'jar'
                        }
                    }
                }
                repositories {
                    maven {
                        name 'nexus'
                        url "http://<nexus-server-url>:8081/repository/maven-releases/"
                        allowInsecureProtocol = true
                        credentials {
                            username project.repoUser
                            password project.repoPassword
                        }
                    }
                }
            }</pre>
        </span>
    </span>
</code>

                                        </div>

                                      <p>Replace "<code>nexus-server-url</code>" with the URL of your Nexus server.The
                                          "<code>your-username</code>" and "<code>your-password</code>" can be added to a "<code>gradle.properties</code>" file
                                          with the credentials of the user you created on Nexus.</p>
                                      <p>The we can build the project with the following command: <code>$ ./gradlew build</code>. And then
                                      publish the jar file to Nexus with the following command: <code>./gradlew publish</code>.
                                      Verify that the jar file was uploaded to Nexus by navigating to the Nexus web interface/Browse
                                          and check the "Repository" section in the left sidebar.</p>
                                        <p><img class="rounded" src="static/assets/img/project6/my-app.png" alt="My app"></p>
                                    </ol>

                                    <h4>Java Maven Project: Build Jar & Upload to Nexus</h4>
                                    <p>To configure a maven project, you can add the following block of code into your <code>pm.xml</code> and add credentials
                                    in the <code>.m2</code> folder in your home directory, you should create a file with the following settings bellow:</p>

                                        <code class="codeBlockLines_e6Vv">
                                            <span class="token-line" style="color: rgb(57, 58, 52);">
                                                <span class="token plain">
                                                    $ cd ~/.m2<br>
                                                    $ vim settings.xml
                                                </span></span></code>

                                    <p><br><img class="rounded" src="static/assets/img/project6/settings.png" alt="Settings"></p>
                                    <p>The we can build the project with the following command: <code>$ mvn package</code>. And then
                                      publish the jar file to Nexus with the following command: <code>$ mvn deploy</code>.
                                        Verify that the jar file was uploaded to Nexus by navigating to the Nexus web interface/Browse
                                          and check the "Repository" section in the left sidebar.
                                    <br><img class="rounded" src="static/assets/img/project6/maven.png" alt="Maven"></p>

                                    <h4>Nexus API</h4>
                                    <p>To automate your work, you can use the Nexus API in your scripts. Some examples are:</p>
                                    <ol>
                                        <li>Query Repositories</li>
                                        <p>You can see list of repositories that the user created on Nexus has permissions to
                                        access by using the code with the following endpoint:
                                            <code>$ curl -u username:password -X GET 'http://167.99.138.11:8081/service/rest/v1/repositories'</code>.
                                        <br><img class="rounded" src="static/assets/img/project6/query-repo.png" alt="Query repo"></p>

                                        <li>Query components of a repository</li>
                                        <p>You can see all components of a specific repository for a user on Nexus by using the code <code>
                                            $ curl -u username-password -X GET 'http://167.99.138.11:8081/service/rest/v1/components?repository=mave-snapshots'</code>.
                                        <br><img class="rounded" src="static/assets/img/project6/query-components.png" alt="Query components"></p>

                                        <li>Query assets of a component</li>
                                        <p>You can see list of assets of a specific component by using the component´s ID in the code:
                                            <code>$ curl -u flavia:9665 -X GET 'http://167.99.138.11:8081/service/rest/v1/components/[ID of component]'</code>.
                                        <br></p>
                                    </ol>



                            </div>
                            </div>
                        </article>
        </div>
        <!-- End of project5 section -->


    </main>

    {% include 'includes/footer-about.html' %}





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
